body{
  margin:0px;
  padding: 0px;
}
div{
  height: 200px;
  width: 200px;
  position: static;
}
.hijo1{
  background-color:#ee3e64;
}
.hijo2{
  background-color:#44accf;
  position: absolute;
  left: 200px;
}
.hijo3{
  background-color:#b7d84b;
}
.hijo4{
  background-color:yellow;
}